<h1>Deleting <%= @list.name %></h1>

<p>Just checking... are you sure you want to delete this whole list?</p>
<form method="post" action="/lists/<%=@list.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
<form>