<h1>New List</h1>

<form method="post" action="/lists/new">

<input type="text" name="name" placeholder="List Name"><br><br>
<input type="text" name="tasks[name]" placeholder="Add Your First Task"><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>